<div class="td-left-bar">
  <div class="td-left-bar-logo">

  </div>
  <div class="td-left-bar-content">
    <ul class="list-group">
      <a routerLinkActive="active" routerLink="/todos">
        <li class="list-group-item">
          <img src="./src/images/icons/list-1.svg" alt="All tasks"/>
        </li>
      </a >
      <a routerLinkActive="active" routerLink="/progress">
        <li class="list-group-item">
          <img src="./src/images/icons/material.svg" alt="Progress"/>
        </li>
      </a >
    </ul>
  </div>

</div>